.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  margin-bottom: 2rem;
}

.images-section {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.scroll-image {
  width: 150px; /* Set equal size for all images */
  height: 150px;
  object-fit: cover;
  margin: 0 1rem; /* Space between images */
  transition: opacity 1s ease-in-out;
}

.quick-navigation {
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.quick-nav-button {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quick-nav-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.animated-button {
  position: relative;
  overflow: hidden;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
  transform: translateX(-50%) scaleY(0);
  z-index: 0;
}

.animated-button:hover::before {
  transform: translateX(-50%) scaleY(1);
}

.animated-button span {
  position: relative;
  z-index: 1;
}
